name: Command Update Dist
on:
  workflow_dispatch:

jobs:
  lockfiles:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # full history
          token: ${{ secrets.PAT_REPO_FULL }}

      - name: Set Node.js 24.x
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x

      - run: |
          npm install
      - run: |
          npm run all

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update lockfiles
